Towers - fields(
            name, 
            location, 
            number of floors, 
            number of offices, 
            rating, 
            latitude,
            longitude
        )

Offices - fields(
            name,
            area
        )